# Dependencies
node_modules/
backend/target/

# Mobile Build outputs
mobile/android/app/build/
mobile/android/.gradle/
*.apk
*.ap_
*.dex
*.class

# Backend Build outputs
.mvn/
mvnw
mvnw.cmd
backend/help.md

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
